name: hysteria-server
version: '3.8'

volumes:
  {{ hysteria_server_compose_volumes_appendix | ansible.builtin.to_nice_yaml | indent(2) }}

services:

  hysteria:

    build:
      context: .
      args:
        VERSION: {{ hysteria_server_version | ansible.builtin.to_yaml }}
    restart: unless-stopped
    command: [ server, --config, /etc/hysteria.json ]
    cap_add:
      - NET_ADMIN
      - NET_RAW

    ports:
      {{ hysteria_server_ports_appendix | ansible.builtin.to_nice_yaml | indent(6) }}

    volumes:
      - {{ ( config_file + ':/etc/hysteria.json' ) | ansible.builtin.to_yaml }}
{% if hysteria_server_volumes_appendix | length > 0 %}
      {{ hysteria_server_volumes_appendix | ansible.builtin.to_nice_yaml | indent(6) }}
{% endif %}

{% if hysteria_server_compose_services_hysteria_appendix | length > 0 %}
    {{ hysteria_server_compose_services_hysteria_appendix | ansible.builtin.to_nice_yaml | indent(4) }}
{% endif %}

{% if hysteria_server_compose_services_appendix | length > 0 %}
  {{ hysteria_server_compose_services_appendix | ansible.builtin.to_nice_yaml | indent(2) }}
{% endif %}

{% if hysteria_server_compose_appendix | length > 0 %}
{{ hysteria_server_compose_appendix | ansible.builtin.to_nice_yaml | indent(0) }}
{% endif %}

# vim:expandtab:shiftwidth=2
