{% set hysteria_compose_project_name = instance.compose_project_name | default(instance.name) %}
{% set hysteria_container_name = instance.container_name | default(instance.name) %}
{% set hysteria_ports_appendix = instance.ports_appendix | default([]) %}
{% set hysteria_volumes_appendix = instance.volumes_appendix | default([]) %}
{% set hysteria_compose_volumes_appendix = instance.compose_volumes_appendix | default({}) %}
{% set hysteria_compose_services_hysteria_appendix = instance.compose_services_hysteria_appendix | default({}) %}
{% set hysteria_compose_services_appendix = instance.compose_services_appendix | default({}) %}
{% set hysteria_compose_appendix = instance.compose_appendix | default({}) %}

{% if hysteria_compose_project_name != '' %}
name: {{ hysteria_compose_project_name | ansible.builtin.to_yaml }}
{% endif %}

version: '3.8'

volumes:
  {{ hysteria_compose_volumes_appendix | ansible.builtin.to_nice_yaml | indent(2) }}

services:

  hysteria:
    image: {{ ( 'tobyxdd/hysteria:' + instance.version ) | ansible.builtin.to_yaml }}
    restart: unless-stopped
    command: [ client, --config, /etc/hysteria.json ]

{% if hysteria_container_name != '' %}
    container_name: {{ hysteria_container_name | ansible.builtin.to_yaml }}
{% endif %}

    ports:
      {{ hysteria_ports_appendix | ansible.builtin.to_nice_yaml | indent(6) }}

    volumes:
      - {{ ( instance_dir + '/config.json:/etc/hysteria.json' ) | ansible.builtin.to_yaml }}
{% if hysteria_volumes_appendix | length > 0 %}
      {{ hysteria_volumes_appendix | ansible.builtin.to_nice_yaml | indent(6) }}
{% endif %}

{% if hysteria_compose_services_hysteria_appendix | length > 0 %}
    {{ hysteria_compose_services_hysteria_appendix | ansible.builtin.to_nice_yaml | indent(4) }}
{% endif %}

{% if hysteria_compose_services_appendix | length > 0 %}
  {{ hysteria_compose_services_appendix | ansible.builtin.to_nice_yaml | indent(2) }}
{% endif %}

{% if hysteria_compose_appendix | length > 0 %}
{{ hysteria_compose_appendix | ansible.builtin.to_nice_yaml | indent(0) }}
{% endif %}

# vim:expandtab:shiftwidth=2
