{% set container_name = instance.container_name | default(instance.name) %}
{% set restart = instance.restart | default('unless-stopped') %}
{% set ports = instance.ports | default([]) %}
{% set volumes = instance.volumes | default([]) %}

{% set compose = instance.compose | default({}) %}
{% set compose_hysteria = instance.compose_hysteria | default({}) %}
{% set compose_services = instance.compose_services | default({}) %}
{% set compose_project_name = instance.compose_project_name | default(instance.name) %}
{% set compose_version = instance.compose_version | default('3.8') %}

name: {{ compose_project_name | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}
version: {{ compose_version | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}

services:

  hysteria:

    image: {{ ( 'tobyxdd/hysteria:' + instance.version ) | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}
    container_name: {{ container_name | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}
    restart: {{ restart | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}
    command: [ {{ instance.type | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}, --config, /etc/hysteria.json ]

    ports:
      {{ ports | ansible.builtin.to_nice_yaml | indent(6) }}

    volumes:
      - {{ ( instance_dir + '/config.json:/etc/hysteria.json' ) | ansible.builtin.to_yaml }}
{% if volumes | length > 0 %}
      {{ volumes | ansible.builtin.to_nice_yaml | indent(6) }}
{% endif %}

{% if compose_services_hysteria | length > 0 %}
    {{ compose_services_hysteria | ansible.builtin.to_nice_yaml | indent(4) }}
{% endif %}

{% if compose_services | length > 0 %}
  {{ compose_services | ansible.builtin.to_nice_yaml | indent(2) }}
{% endif %}

{% if compose | length > 0 %}
{{ compose | ansible.builtin.to_nice_yaml | indent(0) }}
{% endif %}

# vim:expandtab:shiftwidth=2
